/* game board table */

#board td {
	width: 50px;
	height: 50px;
	border: ridge black 0.05cm;
	border-radius: 30%;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
	/* TODO: make into circles */
	margin: 5px;
	width: 80%;
	height: 80%;
	border-radius: 80%;
	position: relative;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1 {
	background-color: red;
}

.p2 {
	background-color: blue;
}
/* column-top is table row of clickable areas for each column */

#column-top td {
	border: dashed 1px lightgray;
}

#column-top td:hover {
	background-color: rgba(0, 0, 0, 0.25);
}

#game {
	display: flex;
	justify-content: center;
}

body {
	background-color: rgba(0, 0, 255, 0.50);
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

#startButton {
	background-color: rgb(176, 224, 230);
	border: none;
	color: white;
	width: 2in;
	height: 1in;
	font-size: 1cm;
}

#startButton:hover {
	background-color: rgba(176, 224, 230, 0.5);
}

.playerColor {
	font-size: 2rem;
	border: none;
	width: 3in;
	height: 1in;
}
